{% extends "recipes/base.html" %} {% block title %}Suche{% endblock %} {% block content %} {% include "recipes/partials/search_partial.html" %} {% endblock %} {% block scripts %} {% csrf_token %}
<script>
    const input = document.getElementById('search-input');
    const results = document.getElementById('search-results');

    let timeout;
    input.addEventListener('input', () => {
        console.log('Input changed');
        clearTimeout(timeout);
        timeout = setTimeout(() => {
            const q = input.value;
            fetch(`/search/?q=${encodeURIComponent(q)}`)
                .then(res => res.text())
                .then(html => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');
                    results.innerHTML = doc.querySelector('#search-results').innerHTML;
                });
        }, 300);
    });
</script>
{% endblock %}